main.row {
  margin-top: 10em;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

.col header .title {
  color: #11a372;
  padding: 0px 0px 20px 30px;
}

.col .contents {
  padding: 0px 30px;
  border-left: 2px solid #bababa;
}

.col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.col .contents .box:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -60.25px;
  top: 0;
  background-color: #e84949;
  border: 2px solid white;
}

.row a {
  text-decoration: none;
  color: #131313;
}



/* Tablet Screens (768px and up) */
@media screen and (min-width: 768px) {
  .main.row {
    grid-template-columns: 1fr 1fr;
    margin-top: 8em;
  }

  .col .contents {
    padding: 0 30px;
  }

  .col header .title {
    padding: 0 0 20px 40px;
  }

  .col .contents .box {
    padding: 25px;
    margin-bottom: 25px;
  }

  .col .contents .box::before {
           margin-left: -66.25px;
  }
  .skill-fade-text{
    bottom: -12%;
    font-size: 8rem;
  }
      .skill-container-right {
        width: 43%;
    }
}

/* Desktop Screens (1024px and up) */
@media screen and (min-width: 1024px) {
  .main.row {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10em;
  }

  .col .contents {
    padding: 0 40px;
  }

  .col header .title {
    font-size: 1.8em;
    padding: 0 0 20px 50px;
  }

  .col .contents .box {
    padding: 30px;
    margin-bottom: 30px;
  }

  .col .contents .box::before {
    width: 18px;
    height: 18px;
   margin-left: -83px;
  }
  .skill-fade-text{
    bottom: -18%;
  }
}

/* Large Desktop Screens (1440px and up) */
@media screen and (min-width: 1440px) {
  .main.row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .col header .title {
    font-size: 2em;
    padding: 0 0 20px 60px;
  }

  .col .contents {
    padding: 0 50px;
  }

  .col .contents .box {
    padding: 35px;
    margin-bottom: 35px;
  }

  .col .contents .box::before {
    width: 20px;
    height: 20px;
    margin-left: -99px;
  }
  .skill-fade-text{
    bottom: -13%;
  }
}



/* Mobile Styles (up to 768px) */
@media screen and (max-width: 768px) {
 /* Education Styles */
  .skills-container {
    padding: 1rem; /* Adjust container padding */
  }

  .skill-heading {
    font-size: 2em; /* Smaller heading size */
  }

  .skill-subHeading p {
    font-size: 1rem; /* Adjust font size for paragraphs */
  }

  .row {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
  .skill-fade-text{
    bottom: -10%;
  }
  
}